VITE_API_BASE_URL=http://localhost:5000/api
VITE_UPLOADS_BASE_URL=http://localhost:5000/uploads
VITE_SUPABASE_URL=https://pvwuzuqncutvyheihlnq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_9rei3Au7s369ceSwCea8fA_NX_rzSHS
